* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
}

main {
    background-color: #D9D9D9;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

section {
    background-color: #fff;
    border-radius: 20px;
}

.section-metricas{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container-metrica1{
    background-color: #5383EC;
}

.section-metricas, .section-vendas  {
    grid-column: span 2;