* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
}

main {
    background-color: #D9D9D9;
    display: grid;
    gap: 24px;
}

section {
    background-color: #fff;
}