* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 100px;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
    ;
}

header {
    grid-area: header;
    background-color: aqua;
}

aside {
    grid-area: aside;
    background-color: blueviolet;
}

main {
    display: grid;
    gap
    grid-area: main;
    background-color: cadetblue;
}

main > section {
    grid-area: section;
    background-color: chocolate;
    height: 200px;
    margin-bottom: 10px;
}

footer {
    grid-area: footer;
    background-color: tomato;
}